@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

body {
  box-sizing: border-box;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background: #111827;
  color: #9ca3af;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

button.primary {
  color: #d1d5db;
  background: #0f766e;
  border: none;
}

button.secondary {
  color: #d1d5db;
  background: transparent;
  border: 1px solid #374151;
}

button.primary,
button.secondary {
  padding: 12px 24px;
  font-size: 14px;
  border-radius: 6px;
}

.aligner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.aligner .sub {
  display: flex;
  align-items: center;
  gap: 12px;
}

div.logo {
  background: #e3b261;
  width: 32px;
  height: 32px;
  border: 4px solid #d1d5db;
  border-radius: 100%;
}

div.logo-type {
  font-size: 16px;
  font-weight: 600;
}

div.account {
  background: #9ca3af;
  width: 32px;
  height: 32px;
  border: 1px solid #d1d5db;
  border-radius: 100%;
}

div.symbol {
  width: 16px;
  height: 16px;
  border: 2px solid #d1d5db;
  border-radius: 100%;
}

div.symbol-light {
  width: 16px;
  height: 16px;
  border: 2px solid #9ca3af;
  border-radius: 100%;
}

div.checked {
  width: 16px;
  height: 16px;
  border: 6px solid #0d9488;
  border-radius: 100%;
}

.header {
  border-bottom: 1px solid #1f2937;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin-bottom: 64px;
}

.header .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .content .left-side {
  display: flex;
  gap: 16px;
  align-items: center;
}

.header .content .right-side ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 32px;
}

.header .content .right-side ul a {
  text-decoration: none;
  font-weight: 500;
  color: #d1d5db;
}

.footer {
  border-top: 1px solid #363f4b;
  height: 64px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: center;
}

.footer .support-us {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  text-align: center;
  width: 512px;
  font-size: 14px;
}

.footer .support-us .name {
  color: #d1d5db;
  text-align: center;
  font-size: 30px;
}

.footer .support-us .button-group {
  display: flex;
  gap: 16px;
}

.header .content,
.footer .content {
  flex: 0 1 auto;
  width: 1216px;
}

.main {
  display: flex;
  justify-content: center;
}

.main .content {
  flex: 0 1 auto;
  width: 768px;
}

.main .content .title {
  color: #d1d5db;
  text-align: center;
  font-size: 30px;
  margin-bottom: 24px;
}

.main .content .description {
  margin-bottom: 48px;
}

.main .content .description .overview {
  color: #d1d5db;
  font-size: 18px;
  margin-bottom: 4px;
}

.main .content .description .text {
  color: #9ca3af;
}

.sections {
  display: flex;
  flex-direction: column;
  gap: 48px;
  margin-bottom: 128px;
}

.sections .section {
  color: #d1d5db;
  border: 1px solid #374151;
  border-radius: 8px;
  background: #1f2937;
}

.sections .section .name {
  padding: 24px;
  font-size: 18px;
  font-weight: 500;
  border-bottom: 1px solid #374151;
}

.sections .section ul {
  list-style: none;
  margin: 0;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.sections .section ul li {
  padding: 12px 0;
}
